// Externals

// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";
@import "~react-image-gallery/styles/scss/image-gallery.scss";


// Basics
@import "basics/base";
@import "basics/helpers";
@import "basics/animations";

// Pages
@import "pages/main-app";
@import "pages/home-page";
@import "pages/photo-details";

// Components
@import "cmps/app-header";
@import "cmps/photo-preview";
@import "cmps/photo-list";
@import "cmps/footer";
@import "cmps/about";
@import "cmps/loading";
@import "cmps/modal";
@import "cmps/mobail";
@import "cmps/social-media";
@import "cmps/back-button";
@import "cmps/contact-form";
@import "cmps/page-questions";

.scroll-to-bottom {
    cursor: pointer;
    color: black;
    font-weight: 500;

    &:hover {

        color: rgb(96, 45, 24);
    }
}