.app-header{
    width: 90%;
    nav{
       
        height: 50px;
        display: flex;
        border-bottom: 1px solid antiquewhite;
        align-items: center;
        justify-content: flex-end;
        margin-top: 20px;
        position: relative;
        .header-logo{
    display: flex;
    position: absolute;
    left: 20px;
    bottom: 5px;
    .flower{
        width: 4em;
        height: 3.5em;
      background-image: url('../../img/lotus.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
        }
    a{
        cursor: pointer;
        text-decoration: none;
        color: black;
        font-size: 14px;
        margin-inline-end: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    a:not(:last-of-type) {
        margin-inline-end: 90px;
    }
  }
  }
  @media screen and (max-width:500px){
  .app-header{
    nav{
        background-color: aqua;
        flex-direction: column;
    }
  }
  }
  