.app-header{
    // width: 100%;
    nav{
       
        height: 50px;
        display: flex;
        border-bottom: 1px solid antiquewhite;
        align-items: center;
        justify-content: flex-end;
        margin-top: 20px;
        position: relative;
        .header-logo{
    display: flex;
    position: absolute;
    left: 20px;
    bottom: 5px;
    .flower{
        width: 4em;
        height: 3.5em;
      background-image: url('../../img/lotus.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
        }
    a{
        cursor: pointer;
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-weight: 600;
        font-size: 16px;
        margin-inline-end: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 3px;
        &:hover{
            color: rgb(151, 65, 73);
            // text-decoration: underline;
        }
    }
    a:not(:last-of-type) {
        margin-inline-end: 100px;
    }
  }
  }
  @media screen and (max-width:500px){
  .app-header{
    nav{
        background-color: aqua;
        flex-direction: column;
    }
  }
  }
  