footer {
    width: 100%;
    display: flex;
    text-align: center;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    border-top: 1px #00000038 solid;
    background-color: white;

    h1 {
        font-size: 20px;
        color: #6a6a6a;
        padding: 5px;
    }

    .social-media {
        padding: 1px;
        margin: 0;

        img {
            width: 30px;
        }
    }

}