footer {
    background: #cd565b24;
    width: 100%;
    display: flex;
    text-align: center;
    font-size: 10px;
    justify-content: space-between;
    align-items: center;

    h1 {
        margin-left: 42%;
        font-size: 20px;
        color: #7c7c7c;
    }

}