footer {
    box-shadow: 1px -1px 7px 0px #400b5742;
    width: 100%;
    display: flex;
    text-align: center;
    font-size: 10px;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 20px;
        color: #7c7c7c;
    }

    .social-media {
        padding: 1px;
        margin: 0;

        img {
            width: 30px;
        }
    }

}