@media screen and (max-width:740px) {
    .app-header {
        overflow: visible;

        .header-menu {
            display: flex;
        }

        nav {
            .header-logo {
                flex: 0;
            }

            .header-nav-link {
                display: none;
            }

            .flower {
                display: none;
            }
        }
    }

    .grid-home-page {
        a {
            span {
                opacity: 1;
                color: rgb(255 255 255);
                background-color: rgba(0, 0, 0, 0.321);
            }
        }
    }

    .about {
        padding: 0;
        gap: 0;

        .about-image {
            width: 60%;

        }

        span {
            width: 100%;
            margin: 15px;
            line-height: 25px;
            font-family: 'Segoe UI';
        }
    }

    .photo-details-container {

        .photo-details {
            width: 100%;
            height: 100%;
        }

        button {
            padding-top: 18%;
        }

    }


}