.questions {
    display: flex;
    flex-direction: column;
    text-align: end;
    align-items: flex-end;
    margin-bottom: 23px;

    button {
        background: none;
        border: none;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;
        display: flex;
        column-gap: 5px;
        align-items: center;
        color: #481506;
        font-weight: 500;

        &:hover {
            color: #a2215b;
        }

    }

    .answer {
        padding: 4px;
        width: 61%;
    }
}