.social-media {
    a {
        display: contents;
        font-size: 5px;
    }

    display: flex;
    justify-content: end;
    align-items: center;


    img {
        width: 37px;
        margin: 12px;
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }

    }
}