.home-page{
    // display: flex;
    // background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  
    // padding: 50px;
    // .home-img{
    //     display: flex;
    //     justify-content: center;
        img{
            width: 35%;
            margin-top: 20px;
        }
    // }
}
    .home-page-content{
        background-color: antiquewhite;
        // margin-top: 10px;
//       display: flex;
//         flex-direction: column;
//         padding: 50px;
//         align-items: center;
//         text-align: center;
    }
    .about{
        display: flex;
    gap: 40px;
    // align-items: center;
    margin-top: 10%;
    padding: 15px;
    background-color: #ecd1b3;
    margin-bottom: 15%;
    align-items: center;
    justify-content: center;
    span{
        width: 50%;
        line-height: 25px;
        // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-family: 'Segoe UI';
        
        h1{
            font-size: 16px;

        }
    }
    
    .about-image{
        background-image: url('../../img/roni-image.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        width: 300px;
        height: 300px;
        border-radius: 100%;
        
    }
}
.image-gallery-image{
max-height: calc(65vh - 80px) !important;

}
// .image-gallery-right-nav {
// right: 10%;
// }
// .image-gallery-left-nav{
// left: 10%;
// }
.image-gallery-svg{
height: 70px !important;
}
.image-gallery-fullscreen-button,
.image-gallery-play-button{
display: none;
}