.photo-details-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 87px;

    .photo-details {
        display: flex;
        width: 59rem;
        padding: 10px;
    }

}