.photo-details-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    .back-button {
        background: transparent;
        border: none;
        color: rgb(59, 59, 59);
        font-size: 20px;
        margin: 10px;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .photo-details {
        position: relative;

        .left {
            left: 0;
            position: absolute;
            height: 100%;
            top: 0;
            background: #00000041;
            padding: 17px;
            border: none;
            color: #ffffff71;
            font-size: 51px;
            cursor: pointer;

            &:hover {
                transition: 0.5s;
                background: #000000a1;
                color: rgb(255, 255, 255);

            }
        }

        .right {
            right: 0;
            position: absolute;
            height: 100%;
            top: 0;
            background: #00000041;
            padding: 20px;
            border: none;
            color: #ffffff71;
            font-size: 51px;
            cursor: pointer;

            &:hover {
                transition: 0.5s;
                background: #000000a1;
                color: rgb(255, 255, 255);

            }
        }


    }


    //     }

}