.hide {
    display: none;
}

.page-container {
    padding: calc($app-header-height + 33px) 40px 20px;
}

.title-list {
    font-size: 2.2em;
    color: #111111a3;
    font-weight: 100;
    text-align: center;
}

// // List
.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    &>li {
        margin: 0;
        padding: 0;
        margin-block: 0;
    }
}

ul {
    margin: 0;
    padding: 0;
    margin-block: 0;
}

// // Positioning
.flex {
    display: flex;

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }

    &.wrap {
        flex-wrap: wrap;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.space-around {
        justify-content: space-around;
    }

    &.auto-center {
        justify-content: center;
        align-items: center;
    }

    >*.full-grow {
        flex: 1;
    }
}